<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.googletest.v140.windesktop.msvcstl.static.rt-static" version="1.8.1.5" targetFramework="native" />
  <package id="nlohmann.json" version="3.10.4" targetFramework="native" />
  <package id="SiddiqSoft.acw32h" version="2.7.1" targetFramework="native" />
  <package id="SiddiqSoft.asynchrony-lib" version="0.11.0" targetFramework="native" />
  <package id="SiddiqSoft.AzureCppUtils" version="1.5.3" targetFramework="native" />
  <package id="SiddiqSoft.RunOnEnd" version="1.2.1" targetFramework="native" />
  <package id="SiddiqSoft.SplitUri" version="1.8.3" targetFramework="native" />
  <package id="SiddiqSoft.string2map" version="2.3.1" targetFramework="native" />
</packages>